header {
  text-align: center;
  background: url('https://i.ibb.co/yf2MSPS/where-esclore-image.jpg');
  background-size: cover;
  color: white;
}

a {
  color: white;
}

h1 {
  font-size: 40px;
}

h2 {
  color: #CD853F;
}

header img {
  margin: 60px 0px 0px 0px;
  border: 3px solid white;
  border-radius: 50px;
}

ul {
  padding: 10px;
  background: rgba(0, 0, 0, 0.5);
}

li {
  display: inline;
  padding: 0px 10px 0px 10px;
}

article {
  max-width: 95%;
  padding: 10px;
  margin: 0 auto;
  text-align: justify;
  text-justify: inter-word;
}

.quote {
  color: rgb(77, 0, 19);
  font-style: italic;
  font-weight: 600;
  font-size: 15px;
  max-width: 90%;
  margin: 0 auto;
  text-align: justify;
  text-justify: inter-word;
}

.person_quoted {
  font-size: 15px;
  max-width: 90%;
  margin: 0 auto;
  text-align: right;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto auto;
  padding: 0px;
  grid-gap: 10px;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
}

.grid-item img {
  width: 100%;
  height: auto;
}

/* Useful resource: Responsive Web Design - Images: https://www.w3schools.com/css/css_rwd_images.asp */

.grid-item a {
  text-decoration: none;
}

.grid-item p {
  font-size: 15px;
  color: rgb(77, 0, 19);
}

.grid-item .btn {
  background: #CD853F;
  color: white;
  font-size: 14px;
  font-family: 'Pathway Gothic One', sans-serif;
  font-weight: bold;
}

.grid-item .btn:hover {
  background: rgba(77, 0, 19, 0.5);
  color: white;
  font-size: 14px;
  font-family: 'Pathway Gothic One', sans-serif;
  font-weight: bold;
}

/* Could also use a notification button for the like button and some JavaScript to update the number based on a click: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_buttons_notification */

.connect_details {
  text-align: center;
  max-width: 95%;
  margin: 0px;
}

input {
  border: 5;
  padding: 10px;
  font-size: 15px;
}

input[type="submit"] {
  background: #CD853F;
  color: white;
  padding: 5px;
}

input[type="submit"]:hover {
  background: rgba(77, 0, 19, 0.5);
  color: white;
  padding: 5px;
}

input[type="email"] {
  color: rgb(77, 0, 19);
  padding: 5px;
}

::placeholder {
  color: rgb(77, 0, 19);
}

.fa {
  padding: 5px;
  font-size: 25px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 3px;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

@media (max-width: 500px) {
  h1 {
    font-size: 36px;
    padding: 5px;
  }

  li {
    padding: 5px;
    display: block;
  }

  header img {
    border-radius: 20px;
    width: 35%
  }

  .grid-container {
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto auto auto;
  }

  .grid-item .btn {
    font-size: 12px;
  }

  .grid-item .btn:hover {
    font-size: 12px;
  }
}